*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

li{
    list-style: none;
}

body{
    background-color: #384047;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

main{
    display: grid;
    grid-template-columns: 40px 600px;
    column-gap: 10px;
}

canvas{
    width: 600px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
}

button{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 0;
    border: 2px solid transparent;
    border-radius: 5px;
}

button.red{
    background-color: red
}
button.black{
    background-color: black
}
button.blue{
    background-color: blue
}
button.green{
    background-color: green;
}
button.selected{
    border: 2px solid white;
}
button.control-btn{
    font-size: 25px;
}
button.control-btn.selected{
    font-size: 25px;
    color: blue;
}