*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to top left, #8a3ab9 0%, #cd486b 45%, #fbad50 80%, #fccc63 95%);
}

.container{
    width: 100%;
    height: 100vh;
}

/* 로그인 영역 */
.login-wrap{
    width: 350px;
    height: 600px;
    background-color: #ffffff;
    padding: 30px;
    border: 0.2px solid #ddd;
    border-radius: 10px;
    /* 가운데 정렬 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

/* #login 중첩박스 */
#login{
    width: 100%;
    height: 100%;
}

/* 로고 */
#login .login-logo{
    height: 150px;
    margin-top: 50px;
    margin-bottom: 20px;
}
#login .login-logo img{
    width: 100%;
    /* object-fit: cover; */
    height: 100px;
}
img{
    width: 100%;
}

/* 로그인 */
input{
    /* outline -> input박스 클릭시 border 사라짐 */
    outline: none;
    background-color: transparent;
}
#login .login-inputbox{
    position: relative;
    height: 50px;
    margin-bottom: 10px;
}
#login .login-inputbox input{
    width: 100%;
    height: 32px;
    padding-left: 5px;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #aaa;
    box-sizing: border-box;
}
#login .login-inputbox input::placeholder{
    color: #aaa;
}
#login .login-inputbox input ~ .border{
    position: absolute;
    display: inline-block;
    width: 0%;
    left: 0;
    bottom: 17.5px;
    border: 0 solid royalblue;
}
/* focus : 포커스가 된 상태를 선택 */
#login .login-inputbox input:focus ~ .border{
    width: 100%;
    border-width: 1px;
    transition: width 0.5s;
    transition-timing-function: ease-in-out;
}

/* 로그인저장/자동로그인 */
#login .login-remember{
    height: 30px;
    margin-bottom: 15px;
    text-align: center;
}
#login .login-remember label{
    position: relative;
    padding-left: 25px;
    color: #aaa;
    cursor: pointer;
    margin-right: 15px;
}
#login .login-remember label input{
    /* 체크박스 */
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    cursor: pointer;
}
#login .login-remember label .checkmark{
    width: 20px;
    height: 20px;
    background-color: #ccc;
    position: absolute;
    top: 0;
    left: 0;
}
/* 체크마크 가상요소로 만들기 */
#login .login-remember label .checkmark::after{
    content: '';
    position: absolute;
    left: 7px;
    top: 3px;
    /* border: 3px solid blue; */
    border-style: solid;
    border-width: 0 3.5px 3.5px 0;
    border-color: white;
    width: 4px;
    height: 8px;
    transform: rotate(45deg);
}
/* checked : input박스가 체크된 상태를 선택 */
#login .login-remember label input:checked ~ .checkmark{
    /* label과 check를 연동 */
    background-color: royalblue;
}
#login .login-remember label input:checked ~ span{
    /* label과 check를 연동 */
    color: royalblue;
}
#login .login-remember label span{
    /* 드래그 선택 없애기 */
    user-select: none;
}

/* 버튼 */
.login-btnbox{
    height: 50px;
    margin: 15px;
}

.login-btnbox .login-btn{
    display: block;
    background-color: royalblue;
    font-size: 1.2rem;
    line-height: 50px;
    border-radius: 10px;
}
.login-btnbox .login-btn:hover{
    filter: brightness(90%);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.login-btnbox a{
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

/* 카피라이트 */
.copy{
    padding: 15px;
    font-size: 0.7rem;
    text-align: center;
}